<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Livre</title>

</head>
<body>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> liste des livre</div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>N°</th>
          <th>auteur</th>
          <th>editeur</th>
          <th>titre</th>
          <th>genre</th>
          <th>référence</th>
          <th>synopsis</th>
          <th>disponible</th>
          <th>réserver ce livre</th>

        </tr>
        <tr th:each="bt : ${bookTrue}">
          <td th:text="${bt.bookId}"></td>
          <td th:text="${bt.bookAuthor}"></td>
          <td th:text="${bt.bookEditor}"></td>
          <td th:text="${bt.bookTitle}"></td>
          <td th:text="${bt.bookKide}"></td>
          <td th:text="${bt.bookRef}"></td>
          <td th:text="${bt.bookSynopsis}"></td>
          <td th:text="${bt.available}"></td>

          <td><a th:href="@{/borrowing/save}" >rerserver ce livre</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>