  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">
<header th:include="header/header.html">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Livre</title>

</header>
<body>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> liste des livre</div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>N°</th>
          <th>auteur</th>
          <th>editeur</th>
          <th>titre</th>
          <th>genre</th>
          <th>référence</th>
          <th>synopsis</th>
          <th>disponible</th>
          <th>réserver ce livre</th>

        </tr>
        <tr th:each="bt : ${bookTrue}">
          <td th:text="${bt.bookId}"></td>
          <td th:text="${bt.bookAuthor}"></td>
          <td th:text="${bt.bookEditor}"></td>
          <td th:text="${bt.bookTitle}"></td>
          <td th:text="${bt.bookKide}"></td>
          <td th:text="${bt.bookRef}"></td>
          <td th:text="${bt.bookSynopsis}"></td>
          <td th:text="${bt.available}"></td>

          <td><a th:href="@{/templates/loan/{utilisateurid}/{exemplaryid}/save(utilisateurid =${session.utilisateurid},exemplaryid=${bt.exemplaryId.id})}">reserver ce livre</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>