<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">
<header th:include="header/header.html">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Livre</title>
</header>
<body>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"> liste des livre</div>
        <form  method="get" th:action="@{/findbook/by/}">
            <input type="text" name="title" placeholder="titre">
            <input type="text" name="author" placeholder="auteur">
            <input type="text" name="kind"placeholder="genre">
            <button type="submit" class="btn btn-primary">rechercher</button>
        </form>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>N°</th>
                    <th>Exemplaire disponible</th>
                    <th>Exemplaire restant</th>
                    <th>auteur</th>
                    <th>editeur</th>
                    <th>titre</th>
                    <th>genre</th>
                    <th>référence</th>
                    <th scope="col">synopsis</th>
                    <th scope="col">disponible</th>
                    <th scope="col">réserver ce livre</th>


                </tr>
                <tr th:each="b:${booklist}">
                    <td th:text="${b.bookId}"></td>
                    <td th:text="${b.exemplaryId.exemplaryNumbers}"></td>

                    <td th:text="${b.exemplaryId.remainingexemplary}"></td>
                    <td th:text="${b.bookAuthor}"></td>
                    <td th:text="${b.bookEditor}"></td>
                    <td th:text="${b.bookTitle}"></td>
                    <td th:text="${b.bookKide}"></td>
                    <td th:text="${b.bookRef}"></td>
                    <td th:text="${b.bookSynopsis}"></td>
                    <td th:text="${b.available}"></td>
                    <td><a th:if="${b.exemplaryId.remainingexemplary>0}" class="btn btn-secondary btn-sm" tabindex="-1"
                           role="link" aria-disabled="false"
                           th:href="@{/borrowing/{utilisateurid}/{exemplaryid}/save(utilisateurid =${session.utilisateurid},exemplaryid=${b.exemplaryId.id})}">reserver ce livre</a>
                        <a   th:if="${b.exemplaryId.remainingexemplary==0}"  class="btn btn-primary btn-sm" href="/pret/save">demande de prêt</a>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>