<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">
<header th:include="header/header.html">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Livre</title>
</header>
<body>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"> liste des livre</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>N°</th>
                    <th>Exemplaire disponible</th>
                    <th>Exemplaire restant</th>
                    <th>auteur</th>
                    <th>editeur</th>
                    <th>titre</th>
                    <th>genre</th>
                    <th>référence</th>
                    <th scope="col">synopsis</th>
                    <th scope="col">disponible</th>
                    <th scope="col">réserver ce livre</th>


                </tr>
                <tr th:each="search:${booklist}">
                    <td th:text="${search.bookId}"></td>
                    <td th:text="${search.exemplaryId.exemplaryNumbers}"></td>
                    <td th:text="${search.exemplaryId.remainingexemplary}"></td>
                    <td th:text="${search.bookAuthor}"></td>
                    <td th:text="${search.bookEditor}"></td>
                    <td th:text="${search.bookTitle}"></td>
                    <td th:text="${search.bookKide}"></td>
                    <td th:text="${search.bookRef}"></td>
                    <td th:text="${search.bookSynopsis}"></td>
                    <td th:text="${search.available}"></td>
                    <!--                    <td><a th:href="@{/borrowing/accountid/exemplaryId/save(accountid=${session.utilisateurid},exemplaryId=${b.exemplaryId.id})}">reserver ce livre</a></td>-->
                    <!--                    <td><a th:href="@{/borrowing/utilisateurid/exemplaryid/save(utilisateurid =${session.utilisateurid},exemplaryid =${borrowingfront.exemplaryId.id} )}">test</a></td>-->


                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>