<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="Fr">

<header th:include="header/header.html" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <title>Livre</title>
</header>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table">

                <tr>
                    <th>N°</th>
                    <th>date debut</th>
                    <th>date fin</th>
                    <th>extension</th>
                    <th>ajouter une extension(1 mois)</th>
                    <th>rendre la réservation</th>



                </tr>
                <tr th:each="pret : ${listePret}">
                    <td th:text="${pret.id}"></td>
                    <td th:text="${pret.startDate}"></td>
                    <td th:text="${pret.endDate}" ></td>
                    <td th:text="${pret.extension}"></td>
                    <td>
                        <a th:if="${pret.getEndDate()>pret.getD2()}" class="btn btn-secondary btn-sm" tabindex="-1" role="link" aria-disabled="false"
                           th:href="@{/loan/{utilisateurid}/{loanid}(utilisateurid = ${pret.account.id}, loanid = ${pret.id})}">ajouter une extension
                        </a>

                        <form method="GET" th:action="@{/index}">
                            <button   th:if="${pret.getEndDate()<pret.getD2()}" disabled type="submit" name="submit" value="value" class="link-button  btn-primary btn-sm">date de reservation dépassé</button>
                        </form>

                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/delete/{loanid}/{exemplaryid}/(loanid= ${pret.id},exemplaryid=${pret.exemplaryId.id})}">valider</a>

                    </td>

                </tr>

            </table>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>