<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">

<head th:include="header/header.html">
    <meta charset="UTF-8">
    <title>Toute les reservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"> liste des livre</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>N°</th>
                    <th>nom du livre</th>
                    <th>date de retour</th>
                    <th>pseudo utilisateur</th>
                    <th>position</th>
                    <th>total reservation</th>
                </tr>
                <tr th:each="listeReza : ${borrowingList}">
                    <td th:text="${listeReza.id}"></td>
                    <td th:text="${listeReza.book.bookTitle}"></td>
                    <td th:text="${listeReza.bookingDateEnd}"></td>
                    <td th:text="${listeReza.account.pseudo}"></td>
                    <td th:text="${listeReza.cmpt}"></td>
                    <td th:text="${listeReza.total}"></td>


                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>